*{
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Microsoft YaHei, Arial, sans-serif;
    font-size: 14px;
    /*line-height: 1.42857143;*/
    color: #666;
    background-color: #ffffff;
}

#app {
    height: 100%;
}

.el-container.is-vertical{
    height: 100%;
    background: #ececec;
}

.layout {
    width: 1336px;
    margin: 0 auto;
}

.clear:after {
    content: " ";
    display: block;
    clear: both;
}